.posti {
  text-align: center;
  float: none;
  font-size: 1.2em;
  margin: auto;
  width: 100%;
}

.info-container {
  padding-left: 3em;
}

.booking-button-camera-container {
  float: none;
  width: 100%;
  margin-top: 1.5em;
}

#logo {
  display: none;
}
